@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-regularoblique.otf') format('opentype');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-thinoblique.otf') format('opentype');
    font-weight: 100;
    font-style: oblique;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-extralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-extralightoblique.otf') format('opentype');
    font-weight: 200;
    font-style: oblique;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-lightoblique.otf') format('opentype');
    font-weight: 300;
    font-style: oblique;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-mediumoblique.otf') format('opentype');
    font-weight: 500;
    font-style: oblique;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-demibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-demiboldoblique.otf') format('opentype');
    font-weight: 600;
    font-style: oblique;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-boldoblique.otf') format('opentype');
    font-weight: 700;
    font-style: oblique;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-extraboldoblique.otf') format('opentype');
    font-weight: 800;
    font-style: oblique;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff/Fontspring-DEMO-greycliffcf-heavyoblique.otf') format('opentype');
    font-weight: 900;
    font-style: oblique;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-Ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display/SF-Pro-Display-UltralightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}